body {
  background-color: #b7b7b7;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 30rem;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #42454c 0%,
    #25282e 100%
  );
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-close {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  transform: translate(50%, -50%);
  color: white;
  background-color: #44444b;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 50%;
  box-shadow: 0 0.1rem 2rem #000000;
  text-align: center;
}

.btn-close:hover {
  color: black;
  background-color: white;
}

.page-title {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 2rem;
  margin-inline: 0.5rem;
  margin-block: 0.5rem;
}

.textbox {
  font-size: 1rem;
  color: white;
  overflow: auto;
  padding-block: 0.5rem;
  height: 21rem;
  border-block: 0.1rem solid #dbdbdb;
  margin-inline: 0.5rem;
}

.text {
  margin-block-start: 0.5rem;
}

.btn {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-block-start: 0.7rem;
  font-size: 1.1rem;
  align-self: stretch;
  text-align: center;
}

.btn:hover {
  color: black;
  background-color: white;
}
.textbox::-webkit-scrollbar {
  width: 0.5rem;
}

.textbox::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10rem;
}
.textbox::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.575);
}

@media (min-width: 475px) {
  .textbox {
    margin-block: 0.5rem;
  }
  .btn {
    color: white;
    background-color: #3d4450;
    align-self: flex-end;
    margin-inline-end: 1rem;
    margin-block-end: 0.5rem;
    padding: 0.7rem 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    align-items: flex-start;
  }

  .page-title {
    font-size: 3rem;
    margin-inline-start: 1rem;
    margin-block: 0.5rem;
  }

  .textbox {
    margin-inline: 1rem;
  }
}
